// -*- mode: closure-template-html -*-
// githubway.tmpl
//
// This file is part of the cl-closure-template library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace example.githubway.view}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General template
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template page}
   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

   <html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
     <head >
        <title>Closure Template example: Messages</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link type="text/css" rel="stylesheet" href="resources/style.css" />

        <script src="jquery/jquery.js" type="text/javascript"></script>
        <script src="jquery/jquery.form.js" type="text/javascript"></script>
        <script src="jquery/jquery.json.js" type="text/javascript"></script>
        <script src="resources/templates.js" type="text/javascript"></script>
        <script src="resources/githubway.js" type="text/javascript"></script>
     </head>

     <body>
        <h1>Closure Template example: GithubWay controls</h1>

        {call editable-text data="$name" /}

        {call editable-text data="$email" /}
     </body>
   </html>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * editable text template
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template editable-text}
   <div class="editable-text" json="{$json}">
       <p>
           {$value}
           <em class="edit-text">click to edit</em>
       </p>       
   </div>
{/template}

{template edit-text}
   <form method="post" action="{$saveLink}" json="{$json}">
       <input type="text" value="{$value}" name="value"></input>

       <div class="form-actions">
           <input type="submit" class="minibutton save" value="Save"></input>
           <span class="fakelink cancel">cancel</span>
       </div>
   </form>
{/template}
