// -*- mode: closure-template-html -*-
// messages.tmpl
//
// This file is part of the cl-closure-template library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace messages}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main page, show all messages
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template showAllMessages}
   <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
   {\n}
   <html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
     {literal}
     <head >
        <title>Closure Template example: Messages</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script src="jquery/jquery.js" type="text/javascript"></script>
        <script src="jquery/jquery.form.js" type="text/javascript"></script>
        
        <script src="templates.js" type="text/javascript"></script>
        <script src="messages.js" type="text/javascript"></script>

        <style type="text/css">
                h1 { border-bottom: 1px solid black; }
                .fakelink { color: #0000CC; cursor: pointer; text-decoration: underline; }
                .message { margin-left: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid #cccccc; }
                form { margin-top: 1em; margin-left: 0.5em; }
                #createmsg { margin: 1em; }
        </style>
     </head>
     {/literal}

     <body>
        <h1>Closure Template example: Messages</h1>

        <div id="messages">
            {foreach $message in $messages}
                {call show-message data="$message" /}
            {/foreach}
        </div>

        <div class="fakelink" id="createmsg">New message</div>
     </body>
     {\n}
   </html>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Render one message
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template showMessage}
    <div class="message">
       <div class="fakelink showmsg" href="{$href}">{$title}</div>
       Author: {$author} 
    </div>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Render one message with details
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template showMessageDetail}
    <div class="message">
       <strong>{$title}</strong> <br />
       Author: {$author} <br />
       {$message |noAutoescape}
    </div>
{/template}


// Create new message form
{template createMessageForm}
   <form method="post">
       <table>
          <tbody>
             <tr>
                <td>Title</td>
                <td><input name="title" size="30"/></td>
             </tr>
             <tr>
                <td>Author</td>
                <td><input name="author" /></td>
             </tr>
             <tr>
                <td>Content</td>
                <td><textarea rows="10" cols="80" name="message" /></td>
             </tr>
             <tr>
                <td />
                <td>
                    <input type="submit" value="Create" />
                    <input type="button" value="Cancel"  id="cancel" />
                </td>
             </tr>
          </tbody>
       </table>
   </form>
{/template}
